.App.ui.app-main .container{ 
    display: flex;
    justify-content: space-around;
}

.options-list{
    width: 20rem !important;
    margin: 0 !important;
    display: block !important;
    transition: all .2s ease-in-out;
    transform-origin: left top;
}

.ui.container input{
    width: 20rem;
    height: 3rem;
    border: 2px solid lightgray;
border-radius: 5px;
}

