body{
    margin: 0;
    height: 100vh;
}
#root {
    background-color: white;
    width: 70%;
    margin: auto;
    height: 100%;
}
.background {
    background: -webkit-linear-gradient(
        top,
        rgb(161, 219, 255) 0%,
        rgb(203, 235, 255) 53%,
        rgb(240, 249, 255) 100%
    ); /* Chrome10+,Safari5.1+ */
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.App.ui.app-main .container {
    display: flex;
    justify-content: space-around;
    
}
.pointing.menu{
    width: 100%;
}
.options-list {
    width: 20rem !important;
    margin: 0 !important;
    display: block !important;
    transition: all 0.2s ease-in-out;
    transform-origin: left top;
}

.ui.container input {
    width: 20rem;
    height: 3rem;
    border: 2px solid lightgray;
    border-radius: 5px;
}
